@tailwind base;

@tailwind components;

@tailwind utilities;

@import '../public/fonts/Manrope/manrope.css';

.blue-highlight {
  background-image: linear-gradient(transparent 60%, #8da0ab 60%);
  background-size: 82% 80%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
